version: 2.1

jobs:
  test:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
            pip install -r requirements-dev.txt
      - run:
          name: Run tests with coverage
          command: |
            pytest --cov=app --cov-report=xml --cov-report=term --cov-fail-under=90
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: htmlcov
          destination: coverage
